.apexcharts-legend {	
    display: flex;	
    overflow: auto;	
    padding: 0 10px;	
    }	
    .apexcharts-legend.apx-legend-position-bottom, .apexcharts-legend.apx-legend-position-top {	
    flex-wrap: wrap	
    }	
    .apexcharts-legend.apx-legend-position-right, .apexcharts-legend.apx-legend-position-left {	
    flex-direction: column;	
    bottom: 0;	
    }	
    .apexcharts-legend.apx-legend-position-bottom.apexcharts-align-left, .apexcharts-legend.apx-legend-position-top.apexcharts-align-left, .apexcharts-legend.apx-legend-position-right, .apexcharts-legend.apx-legend-position-left {	
    justify-content: flex-start;	
    }	
    .apexcharts-legend.apx-legend-position-bottom.apexcharts-align-center, .apexcharts-legend.apx-legend-position-top.apexcharts-align-center {	
    justify-content: center;  	
    }	
    .apexcharts-legend.apx-legend-position-bottom.apexcharts-align-right, .apexcharts-legend.apx-legend-position-top.apexcharts-align-right {	
    justify-content: flex-end;	
    }	
    .apexcharts-legend-series {	
    cursor: pointer;	
    line-height: normal;	
    }	
    .apexcharts-legend.apx-legend-position-bottom .apexcharts-legend-series, .apexcharts-legend.apx-legend-position-top .apexcharts-legend-series{	
    display: flex;	
    align-items: center;	
    }	
    .apexcharts-legend-text {	
    position: relative;	
    font-size: 14px;	
    }	
    .apexcharts-legend-text *, .apexcharts-legend-marker * {	
    pointer-events: none;	
    }	
    .apexcharts-legend-marker {	
    position: relative;	
    display: inline-block;	
    cursor: pointer;	
    margin-right: 3px;	
    border-style: solid;
    }	
    
    .apexcharts-legend.apexcharts-align-right .apexcharts-legend-series, .apexcharts-legend.apexcharts-align-left .apexcharts-legend-series{	
    display: inline-block;	
    }	
    .apexcharts-legend-series.apexcharts-no-click {	
    cursor: auto;	
    }	
    .apexcharts-legend .apexcharts-hidden-zero-series, .apexcharts-legend .apexcharts-hidden-null-series {	
    display: none !important;	
    }	
    .apexcharts-inactive-legend {	
    opacity: 0.45;	
    }


    .simplebar-placeholder {
        max-height: 100%;
        max-width: 100%;
        width: 100%;
        pointer-events: none;
    }
               


    :after, :before {
        box-sizing: border-box;
    }