




















<div class="card bg-light border-0 rounded-4" style="background-image: url(../assets/images/slider/slider-image-1.jpg); background-repeat: no-repeat; background-size: cover; background-position: right;">
    <div class="card-body p-lg-12">
        <h1>Welcome back! FreshCart
        </h1>
        <p>FreshCart is simple &amp; clean design for developer and
            designer.</p>
        <a href="#" class="btn btn-primary">
            Create Product
        </a>
    </div>
</div>


------------------



<nav class="navbar-vertical-nav offcanvas offcanvas-start navbar-offcanvac show" tabindex="-1" id="offcanvasExample" aria-modal="true" role="dialog">
    <div class="navbar-vertical">
                    <div class="px-4 py-5 d-flex justify-content-between align-items-center">
                        <a href="../index.html" class="navbar-brand">
                            <img src="../assets/images/logo/freshcart-logo.svg" alt="logo">
                        </a>
                        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                    </div>
                    <div class="navbar-vertical-content flex-grow-1" data-simplebar="init"><div class="simplebar-wrapper" style="margin: 0px;"><div class="simplebar-height-auto-observer-wrapper"><div class="simplebar-height-auto-observer"></div></div><div class="simplebar-mask"><div class="simplebar-offset" style="right: 0px; bottom: 0px;"><div class="simplebar-content-wrapper" tabindex="0" role="region" aria-label="scrollable content" style="height: 100%; overflow: hidden scroll;"><div class="simplebar-content" style="padding: 0px;">
                        <ul class="navbar-nav flex-column">
                            <li class="nav-item ">
                                <a class="nav-link  active " href="../dashboard/index.html">
                                    <div class="d-flex align-items-center">
                                        <span class="nav-link-icon"> <i class="bi bi-house"></i></span>
                                        <span>Dashboard</span>
                                    </div>
                                </a>
                            </li>
                            <li class="nav-item mt-6 mb-3">
                                <span class="nav-label">Store Managements</span></li>
                            <li class="nav-item ">
                                <a class="nav-link " href="../dashboard/products.html">
                                    <div class="d-flex align-items-center">
                                        <span class="nav-link-icon"> <i class="bi bi-cart"></i></span>
                                        <span class="nav-link-text">Products</span>
                                    </div>
                                </a>
                            </li>
                            <li class="nav-item ">
                                <a class="nav-link " href="../dashboard/categories.html">
                                    <div class="d-flex align-items-center">
                                        <span class="nav-link-icon"> <i class="bi bi-list-task"></i></span>
                                        <span class="nav-link-text">Categories</span>
                                    </div>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link   collapsed " href="#" data-bs-toggle="collapse" data-bs-target="#navOrders" aria-expanded="false" aria-controls="navOrders">
                                    <div class="d-flex align-items-center">
                                        <span class="nav-link-icon"> <i class="bi bi-bag"></i></span>
                                        <span class="nav-link-text">Orders</span>
                                    </div>
                                </a>
                                <div id="navOrders" class="collapse " data-bs-parent="#sideNavbar">
                                    <ul class="nav flex-column">
                                        <li class="nav-item ">
                                            <a class="nav-link " href="../dashboard/order-list.html">
                                                List
                                            </a>
                                        </li>
                                        <!-- Nav item -->
                                        <li class="nav-item ">
                                            <a class="nav-link " href="../dashboard/order-single.html">
                                                Single

                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="nav-item ">
                                <a class="nav-link " href="../dashboard/vendor-grid.html">
                                    <div class="d-flex align-items-center">
                                        <span class="nav-link-icon"> <i class="bi bi-shop"></i></span>
                                        <span class="nav-link-text">Sellers / Vendors</span>
                                    </div>
                                </a>
                            </li>
                            <li class="nav-item ">
                                <a class="nav-link " href="../dashboard/customers.html">
                                    <div class="d-flex align-items-center">
                                        <span class="nav-link-icon"> <i class="bi bi-people"></i></span>
                                        <span class="nav-link-text">Customers</span>
                                    </div>
                                </a>
                            </li>
                            <li class="nav-item ">
                                <a class="nav-link " href="../dashboard/reviews.html">
                                    <div class="d-flex align-items-center">
                                        <span class="nav-link-icon"> <i class="bi bi-star"></i></span>
                                        <span class="nav-link-text">Reviews</span>
                                    </div>
                                </a>
                            </li>
                            <li class="nav-item mt-6 mb-3">
                                <span class="nav-label">Site Settings</span> <span class="badge bg-light-info text-dark-info">Coming Soon</span></li>
                            <li class="nav-item ">
                                <a class="nav-link disabled" href="#!">
                                    <div class="d-flex align-items-center">
                                        <span class="nav-link-icon"> <i class="bi bi-newspaper"></i></span>
                                        <span class="nav-link-text">Blog</span>
                                    </div>
                                </a>
                            </li>
                            <li class="nav-item ">
                                <a class="nav-link disabled" href="#">
                                    <div class="d-flex align-items-center">
                                        <span class="nav-link-icon"> <i class="bi bi-images"></i></span>
                                        <span class="nav-link-text">Media</span>
                                    </div>
                                </a>
                            </li>
                            <li class="nav-item ">
                                <a class="nav-link disabled" href="#!">
                                    <div class="d-flex align-items-center">
                                        <span class="nav-link-icon"> <i class="bi bi-gear"></i></span>
                                        <span class="nav-link-text">Store Settings</span>
                                    </div>
                                </a>
                            </li>
                            <li class="nav-item mt-6 mb-3">
                                <span class="nav-label">Support</span> <span class="badge bg-light-info text-dark-info">Coming Soon</span></li>
                            <li class="nav-item ">
                                <a class="nav-link disabled" href="#!">
                                    <div class="d-flex align-items-center">
                                        <span class="nav-link-icon"> <i class="bi bi-headphones"></i></span>
                                        <span class="nav-link-text">Support Ticket</span>
                                    </div>
                                </a>
                            </li>
                            <li class="nav-item ">
                                <a class="nav-link disabled" href="#">
                                    <div class="d-flex align-items-center">
                                        <span class="nav-link-icon"> <i class="bi bi-question-circle"></i></span>
                                        <span class="nav-link-text">Help Center</span>
                                    </div>
                                </a>
                            </li>
                            <li class="nav-item ">
                                <a class="nav-link disabled" href="#!">
                                    <div class="d-flex align-items-center">
                                        <span class="nav-link-icon"> <i class="bi bi-infinity"></i></span>
                                        <span class="nav-link-text">How FreshCart Works</span>
                                    </div>
                                </a>
                            </li>

                            <li class="nav-item mt-6 mb-3">
                                <span class="nav-label">Our Apps</span></li>
                            <li class="nav-item ">
                                <a class="nav-link disabled" href="#!">
                                    <div class="d-flex align-items-center">
                                        <span class="nav-link-icon"> <i class="bi bi-apple"></i></span>
                                        <span class="nav-link-text">Apple Store</span>
                                    </div>
                                </a>
                            </li>
                            <li class="nav-item ">
                                <a class="nav-link disabled" href="#!">
                                    <div class="d-flex align-items-center">
                                        <span class="nav-link-icon"> <i class="bi bi-google-play"></i></span>
                                        <span class="nav-link-text">Google Play Store</span>
                                    </div>
                                </a>
                            </li>
                            <li id="navMenuLevel" class="collapse " data-bs-parent="#sideNavbar">
                            <ul class="nav flex-column">
                                <li class="nav-item">
                                    <a class="nav-link " href="#" data-bs-toggle="collapse" data-bs-target="#navMenuLevelSecond2" aria-expanded="false" aria-controls="navMenuLevelSecond2">
                                        Two Level
                                    </a>
                                    <div id="navMenuLevelSecond2" class="collapse" data-bs-parent="#navMenuLevel">
                                        <ul class="nav flex-column">
                                            <li class="nav-item">
                                                <a class="nav-link " href="#">NavItem 1</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link " href="#">NavItem 2</a>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link  collapsed  " href="#" data-bs-toggle="collapse" data-bs-target="#navMenuLevelThree2" aria-expanded="false" aria-controls="navMenuLevelThree2">
                                        Three Level
                                    </a>
                                    <div id="navMenuLevelThree2" class="collapse " data-bs-parent="#navMenuLevel">
                                        <ul class="nav flex-column">
                                            <li class="nav-item">
                                                <a class="nav-link  collapsed " href="#" data-bs-toggle="collapse" data-bs-target="#navMenuLevelThree3" aria-expanded="false" aria-controls="navMenuLevelThree3">
                                                    NavItem 1
                                                </a>
                                                <div id="navMenuLevelThree3" class="collapse collapse " data-bs-parent="#navMenuLevelThree">
                                                    <ul class="nav flex-column">
                                                        <li class="nav-item">
                                                            <a class="nav-link " href="#">
                                                                NavChild Item 1
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link " href="#">Nav
                                                    Item 2</a>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                            </ul>
                        </li>


                        </ul>
                        ::after
                    </div>
                </div>
            </div>
        </div>
                    <div class="simplebar-placeholder" style="width: auto; height: 1014px;"></div>
                </div>
                <div class="simplebar-track simplebar-horizontal" style="visibility: hidden;">
                    <div class="simplebar-scrollbar" style="width: 0px; display: none;"></div>
                </div>
                
                <div class="simplebar-track simplebar-vertical" style="visibility: visible;">
                    <div class="simplebar-scrollbar" style="height: 406px; transform: translate3d(0px, 0px, 0px); display: block;">
                        ::before
                    </div>
                </div>
            </div>
                </div>

                </nav>
                ------------------


<div class="row">
    <div class="col-lg-4 col-12 mb-6">
        <!-- card -->
        <div class="card h-100 card-lg">
            <!-- card body -->
            <div class="card-body p-6">
                <!-- heading -->
                <div class="d-flex justify-content-between align-items-center mb-6">
                    <div>
                        <h4 class="mb-0 fs-5">Earnings</h4>
                    </div>
                    <div class="icon-shape icon-md bg-light-danger text-dark-danger rounded-circle">
                        <i class="bi bi-currency-dollar fs-5"></i>
                    </div>
                </div>
                <!-- project number -->
                <div class="lh-1">
                    <h1 class=" mb-2 fw-bold fs-2">$93,438.78</h1>
                    <span>Monthly revenue</span>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-12 mb-6">
        <!-- card -->
        <div class="card h-100 card-lg">
            <!-- card body -->
            <div class="card-body p-6">
                <!-- heading -->
                <div class="d-flex justify-content-between align-items-center mb-6">
                    <div>
                        <h4 class="mb-0 fs-5">Orders</h4>
                    </div>
                    <div class="icon-shape icon-md bg-light-warning text-dark-warning rounded-circle">
                        <i class="bi bi-cart fs-5"></i>
                    </div>
                </div>
                <!-- project number -->
                <div class="lh-1">
                    <h1 class=" mb-2 fw-bold fs-2">42,339</h1>
                    <span><span class="text-dark me-1">35+</span>New Sales</span>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-12 mb-6">
        <!-- card -->
        <div class="card h-100 card-lg">
            <!-- card body -->
            <div class="card-body p-6">
                <!-- heading -->
                <div class="d-flex justify-content-between align-items-center mb-6">
                    <div>
                        <h4 class="mb-0 fs-5">Customer</h4>
                    </div>
                    <div class="icon-shape icon-md bg-light-info text-dark-info rounded-circle">
                        <i class="bi bi-people fs-5"></i>
                    </div>
                </div>
                <!-- project number -->
                <div class="lh-1">
                    <h1 class=" mb-2 fw-bold fs-2">39,354</h1>
                    <span><span class="text-dark me-1">30+</span>new in 2 days</span>
                </div>
            </div>
        </div>
    </div>
</div>




------------------

<div class="row ">
    <div class="col-xl-8 col-lg-6 col-md-12 col-12 mb-6">
        <!-- card -->
        <div class="card h-100 card-lg">
            <div class="card-body p-6">
                <!-- heading -->
                <div class="d-flex justify-content-between">
                    <div>
                        <h3 class="mb-1 fs-5">Revenue </h3>
                        <small>(+63%) than last year)</small>
                    </div>
                    <div>
                        <!-- select option -->
                        <select class="form-select ">
                            <option selected="">2019</option>
                            <option value="2023">2020</option>
                            <option value="2024">2021</option>
                            <option value="2025">2022</option>
                            <option value="2025">2023</option>
                        </select>
                    </div>

                </div>
                <!-- chart -->
                <div id="revenueChart" class="mt-6" style="min-height: 365px;"><div id="apexchartsfp1citn6k" class="apexcharts-canvas apexchartsfp1citn6k apexcharts-theme-light" style="width: 468px; height: 350px;"><svg id="SvgjsSvg3540" width="468" height="350" xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.dev" class="apexcharts-svg apexcharts-zoomable hovering-zoom" xmlns:data="ApexChartsNS" transform="translate(0, 0)" style="background: transparent;"><foreignObject x="0" y="0" width="468" height="350">
                    <div class="apexcharts-legend apexcharts-align-center apx-legend-position-top" xmlns="http://www.w3.org/1999/xhtml" style="right: 0px; position: absolute; left: 0px; top: 4px; max-height: 175px;">
                        <div class="apexcharts-legend-series" rel="1" seriesname="TotalxIncome" data:collapsed="false" style="margin: 2px 5px;">
                    <span class="apexcharts-legend-marker" rel="1" data:collapsed="false" style="background: rgb(10, 173, 10) !important; color: rgb(10, 173, 10); height: 8px; width: 8px; left: 0px; top: 0px; border-width: 0px; border-color: rgb(255, 255, 255); border-radius: 12px;"></span>
                    <span class="apexcharts-legend-text" rel="1" i="0" data:default-text="Total%20Income" data:collapsed="false" style="color: var(--fc-gray-600); font-size: 12px; font-weight: 600; font-family: Helvetica, Arial, sans-serif;">Total Income</span>
                </div>
                <div class="apexcharts-legend-series" rel="2" seriesname="TotalxExpense" data:collapsed="false" style="margin: 2px 5px;">
                    <span class="apexcharts-legend-marker" rel="2" data:collapsed="false" style="background: rgb(255, 193, 7) !important; color: rgb(255, 193, 7); height: 8px; width: 8px; left: 0px; top: 0px; border-width: 0px; border-color: rgb(255, 255, 255); border-radius: 12px;"></span>
                    <span class="apexcharts-legend-text" rel="2" i="1" data:default-text="Total%20Expense" data:collapsed="false" style="color: var(--fc-gray-600); font-size: 12px; font-weight: 600; font-family: Helvetica, Arial, sans-serif;">Total Expense</span>
                </div>
            </div><style type="text/css">	
    </style></foreignObject><g id="SvgjsG3542" class="apexcharts-inner apexcharts-graphical" transform="translate(54.46875, 48)"><defs id="SvgjsDefs3541"><clipPath id="gridRectMaskfp1citn6k"><rect id="SvgjsRect3548" width="409.53125" height="266.348" x="-3" y="-1" rx="0" ry="0" opacity="1" stroke-width="0" stroke="none" stroke-dasharray="0" fill="#fff"></rect></clipPath><clipPath id="forecastMaskfp1citn6k"></clipPath><clipPath id="nonForecastMaskfp1citn6k"></clipPath><clipPath id="gridRectMarkerMaskfp1citn6k"><rect id="SvgjsRect3549" width="443.53125" height="304.348" x="-20" y="-20" rx="0" ry="0" opacity="1" stroke-width="0" stroke="none" stroke-dasharray="0" fill="#fff"></rect></clipPath><linearGradient id="SvgjsLinearGradient3567" x1="0" y1="0" x2="0" y2="1"><stop id="SvgjsStop3568" stop-opacity="0.65" stop-color="rgba(10,173,10,0.65)" offset="0"></stop><stop id="SvgjsStop3569" stop-opacity="0.5" stop-color="rgba(133,214,133,0.5)" offset="1"></stop><stop id="SvgjsStop3570" stop-opacity="0.5" stop-color="rgba(133,214,133,0.5)" offset="1"></stop></linearGradient><linearGradient id="SvgjsLinearGradient3589" x1="0" y1="0" x2="0" y2="1"><stop id="SvgjsStop3590" stop-opacity="0.65" stop-color="rgba(255,193,7,0.65)" offset="0"></stop><stop id="SvgjsStop3591" stop-opacity="0.5" stop-color="rgba(255,224,131,0.5)" offset="1"></stop><stop id="SvgjsStop3592" stop-opacity="0.5" stop-color="rgba(255,224,131,0.5)" offset="1"></stop></linearGradient></defs><line id="SvgjsLine3547" x1="403.03125" y1="0" x2="403.03125" y2="264.348" stroke="#b6b6b6" stroke-dasharray="3" stroke-linecap="butt" class="apexcharts-xcrosshairs" x="403.03125" y="0" width="1" height="264.348" fill="#b1b9c4" filter="none" fill-opacity="0.9" stroke-width="1"></line><g id="SvgjsG3607" class="apexcharts-xaxis" transform="translate(0, 0)"><g id="SvgjsG3608" class="apexcharts-xaxis-texts-g" transform="translate(0, -4)"><text id="SvgjsText3610" font-family="&quot;Inter&quot;, &quot;sans-serif&quot;" x="0" y="293.348" text-anchor="middle" dominant-baseline="auto" font-size="12px" font-weight="400" fill="var(--fc-gray-600)" class="apexcharts-text apexcharts-xaxis-label " style="font-family: Inter, &quot;sans-serif&quot;;"><tspan id="SvgjsTspan3611">Jan</tspan><title>Jan</title></text><text id="SvgjsText3613" font-family="&quot;Inter&quot;, &quot;sans-serif&quot;" x="67.25520833333334" y="293.348" text-anchor="middle" dominant-baseline="auto" font-size="12px" font-weight="400" fill="#373d3f" class="apexcharts-text apexcharts-xaxis-label " style="font-family: Inter, &quot;sans-serif&quot;;"><tspan id="SvgjsTspan3614">Feb</tspan><title>Feb</title></text><text id="SvgjsText3616" font-family="&quot;Inter&quot;, &quot;sans-serif&quot;" x="134.51041666666666" y="293.348" text-anchor="middle" dominant-baseline="auto" font-size="12px" font-weight="400" fill="#373d3f" class="apexcharts-text apexcharts-xaxis-label " style="font-family: Inter, &quot;sans-serif&quot;;"><tspan id="SvgjsTspan3617">March</tspan><title>March</title></text><text id="SvgjsText3619" font-family="&quot;Inter&quot;, &quot;sans-serif&quot;" x="201.76562499999997" y="293.348" text-anchor="middle" dominant-baseline="auto" font-size="12px" font-weight="400" fill="#373d3f" class="apexcharts-text apexcharts-xaxis-label " style="font-family: Inter, &quot;sans-serif&quot;;"><tspan id="SvgjsTspan3620">April</tspan><title>April</title></text><text id="SvgjsText3622" font-family="&quot;Inter&quot;, &quot;sans-serif&quot;" x="269.02083333333326" y="293.348" text-anchor="middle" dominant-baseline="auto" font-size="12px" font-weight="400" fill="#373d3f" class="apexcharts-text apexcharts-xaxis-label " style="font-family: Inter, &quot;sans-serif&quot;;"><tspan id="SvgjsTspan3623">May</tspan><title>May</title></text><text id="SvgjsText3625" font-family="&quot;Inter&quot;, &quot;sans-serif&quot;" x="336.2760416666666" y="293.348" text-anchor="middle" dominant-baseline="auto" font-size="12px" font-weight="400" fill="#373d3f" class="apexcharts-text apexcharts-xaxis-label " style="font-family: Inter, &quot;sans-serif&quot;;"><tspan id="SvgjsTspan3626">Jun</tspan><title>Jun</title></text><text id="SvgjsText3628" font-family="&quot;Inter&quot;, &quot;sans-serif&quot;" x="403.5312499999999" y="293.348" text-anchor="middle" dominant-baseline="auto" font-size="12px" font-weight="400" fill="#373d3f" class="apexcharts-text apexcharts-xaxis-label " style="font-family: Inter, &quot;sans-serif&quot;;"><tspan id="SvgjsTspan3629">Jul</tspan><title>Jul</title></text></g></g><g id="SvgjsG3595" class="apexcharts-grid"><g id="SvgjsG3596" class="apexcharts-gridlines-horizontal"><line id="SvgjsLine3600" x1="0" y1="52.869600000000005" x2="403.53125" y2="52.869600000000005" stroke="var(--fc-gray-300)" stroke-dasharray="0" stroke-linecap="butt" class="apexcharts-gridline"></line><line id="SvgjsLine3601" x1="0" y1="105.73920000000001" x2="403.53125" y2="105.73920000000001" stroke="var(--fc-gray-300)" stroke-dasharray="0" stroke-linecap="butt" class="apexcharts-gridline"></line><line id="SvgjsLine3602" x1="0" y1="158.60880000000003" x2="403.53125" y2="158.60880000000003" stroke="var(--fc-gray-300)" stroke-dasharray="0" stroke-linecap="butt" class="apexcharts-gridline"></line><line id="SvgjsLine3603" x1="0" y1="211.47840000000002" x2="403.53125" y2="211.47840000000002" stroke="var(--fc-gray-300)" stroke-dasharray="0" stroke-linecap="butt" class="apexcharts-gridline"></line></g><g id="SvgjsG3597" class="apexcharts-gridlines-vertical"></g><line id="SvgjsLine3606" x1="0" y1="264.348" x2="403.53125" y2="264.348" stroke="transparent" stroke-dasharray="0" stroke-linecap="butt"></line><line id="SvgjsLine3605" x1="0" y1="1" x2="0" y2="264.348" stroke="transparent" stroke-dasharray="0" stroke-linecap="butt"></line></g><g id="SvgjsG3550" class="apexcharts-area-series apexcharts-plot-series"><g id="SvgjsG3551" class="apexcharts-series" seriesName="TotalxIncome" data:longestSeries="true" rel="1" data:realIndex="0"><path id="SvgjsPath3571" d="M 0 264.348 L 0 235.26972C 23.539322916666663 235.26972 43.715885416666666 211.4784 67.25520833333333 211.4784C 90.79453124999999 211.4784 110.97109375 243.20015999999998 134.51041666666666 243.20015999999998C 158.04973958333332 243.20015999999998 178.22630208333334 182.40012 201.765625 182.40012C 225.30494791666666 182.40012 245.48151041666665 206.19144 269.0208333333333 206.19144C 292.56015625 206.19144 312.73671875 140.10443999999998 336.2760416666667 140.10443999999998C 359.81536458333335 140.10443999999998 379.99192708333334 52.86959999999999 403.53125 52.86959999999999C 403.53125 52.86959999999999 403.53125 52.86959999999999 403.53125 264.348M 403.53125 52.86959999999999z" fill="url(#SvgjsLinearGradient3567)" fill-opacity="1" stroke-opacity="1" stroke-linecap="butt" stroke-width="0" stroke-dasharray="0" class="apexcharts-area" index="0" clip-path="url(#gridRectMaskfp1citn6k)" pathTo="M 0 264.348 L 0 235.26972C 23.539322916666663 235.26972 43.715885416666666 211.4784 67.25520833333333 211.4784C 90.79453124999999 211.4784 110.97109375 243.20015999999998 134.51041666666666 243.20015999999998C 158.04973958333332 243.20015999999998 178.22630208333334 182.40012 201.765625 182.40012C 225.30494791666666 182.40012 245.48151041666665 206.19144 269.0208333333333 206.19144C 292.56015625 206.19144 312.73671875 140.10443999999998 336.2760416666667 140.10443999999998C 359.81536458333335 140.10443999999998 379.99192708333334 52.86959999999999 403.53125 52.86959999999999C 403.53125 52.86959999999999 403.53125 52.86959999999999 403.53125 264.348M 403.53125 52.86959999999999z" pathFrom="M -1 317.2176 L -1 317.2176 L 67.25520833333333 317.2176 L 134.51041666666666 317.2176 L 201.765625 317.2176 L 269.0208333333333 317.2176 L 336.2760416666667 317.2176 L 403.53125 317.2176"></path><path id="SvgjsPath3572" d="M 0 235.26972C 23.539322916666663 235.26972 43.715885416666666 211.4784 67.25520833333333 211.4784C 90.79453124999999 211.4784 110.97109375 243.20015999999998 134.51041666666666 243.20015999999998C 158.04973958333332 243.20015999999998 178.22630208333334 182.40012 201.765625 182.40012C 225.30494791666666 182.40012 245.48151041666665 206.19144 269.0208333333333 206.19144C 292.56015625 206.19144 312.73671875 140.10443999999998 336.2760416666667 140.10443999999998C 359.81536458333335 140.10443999999998 379.99192708333334 52.86959999999999 403.53125 52.86959999999999" fill="none" fill-opacity="1" stroke="#0aad0a" stroke-opacity="1" stroke-linecap="butt" stroke-width="2" stroke-dasharray="0" class="apexcharts-area" index="0" clip-path="url(#gridRectMaskfp1citn6k)" pathTo="M 0 235.26972C 23.539322916666663 235.26972 43.715885416666666 211.4784 67.25520833333333 211.4784C 90.79453124999999 211.4784 110.97109375 243.20015999999998 134.51041666666666 243.20015999999998C 158.04973958333332 243.20015999999998 178.22630208333334 182.40012 201.765625 182.40012C 225.30494791666666 182.40012 245.48151041666665 206.19144 269.0208333333333 206.19144C 292.56015625 206.19144 312.73671875 140.10443999999998 336.2760416666667 140.10443999999998C 359.81536458333335 140.10443999999998 379.99192708333334 52.86959999999999 403.53125 52.86959999999999" pathFrom="M -1 317.2176 L -1 317.2176 L 67.25520833333333 317.2176 L 134.51041666666666 317.2176 L 201.765625 317.2176 L 269.0208333333333 317.2176 L 336.2760416666667 317.2176 L 403.53125 317.2176" fill-rule="evenodd"></path><g id="SvgjsG3552" class="apexcharts-series-markers-wrap" data:realIndex="0"><g id="SvgjsG3554" class="apexcharts-series-markers" clip-path="url(#gridRectMarkerMaskfp1citn6k)"><circle id="SvgjsCircle3555" r="5" cx="0" cy="235.26972" class="apexcharts-marker no-pointer-events w5fe40dnj" stroke="#ffffff" fill="#0aad0a" fill-opacity="1" stroke-width="2" stroke-opacity="0.9" rel="0" j="0" index="0" default-marker-size="5"></circle><circle id="SvgjsCircle3556" r="5" cx="67.25520833333333" cy="211.4784" class="apexcharts-marker no-pointer-events w9wrrsoe0i" stroke="#ffffff" fill="#0aad0a" fill-opacity="1" stroke-width="2" stroke-opacity="0.9" rel="1" j="1" index="0" default-marker-size="5"></circle></g><g id="SvgjsG3557" class="apexcharts-series-markers" clip-path="url(#gridRectMarkerMaskfp1citn6k)"><circle id="SvgjsCircle3558" r="5" cx="134.51041666666666" cy="243.20015999999998" class="apexcharts-marker no-pointer-events w5zwk6vg7k" stroke="#ffffff" fill="#0aad0a" fill-opacity="1" stroke-width="2" stroke-opacity="0.9" rel="2" j="2" index="0" default-marker-size="5"></circle></g><g id="SvgjsG3559" class="apexcharts-series-markers" clip-path="url(#gridRectMarkerMaskfp1citn6k)"><circle id="SvgjsCircle3560" r="5" cx="201.765625" cy="182.40012" class="apexcharts-marker no-pointer-events w9fxxy3oq" stroke="#ffffff" fill="#0aad0a" fill-opacity="1" stroke-width="2" stroke-opacity="0.9" rel="3" j="3" index="0" default-marker-size="5"></circle></g><g id="SvgjsG3561" class="apexcharts-series-markers" clip-path="url(#gridRectMarkerMaskfp1citn6k)"><circle id="SvgjsCircle3562" r="5" cx="269.0208333333333" cy="206.19144" class="apexcharts-marker no-pointer-events wrbz7uiexl" stroke="#ffffff" fill="#0aad0a" fill-opacity="1" stroke-width="2" stroke-opacity="0.9" rel="4" j="4" index="0" default-marker-size="5"></circle></g><g id="SvgjsG3563" class="apexcharts-series-markers" clip-path="url(#gridRectMarkerMaskfp1citn6k)"><circle id="SvgjsCircle3564" r="5" cx="336.2760416666667" cy="140.10443999999998" class="apexcharts-marker no-pointer-events wrk82k9k7" stroke="#ffffff" fill="#0aad0a" fill-opacity="1" stroke-width="2" stroke-opacity="0.9" rel="5" j="5" index="0" default-marker-size="5"></circle></g><g id="SvgjsG3565" class="apexcharts-series-markers" clip-path="url(#gridRectMarkerMaskfp1citn6k)"><circle id="SvgjsCircle3566" r="5" cx="403.53125" cy="52.86959999999999" class="apexcharts-marker no-pointer-events wn9gl5mc8j" stroke="#ffffff" fill="#0aad0a" fill-opacity="1" stroke-width="2" stroke-opacity="0.9" rel="6" j="6" index="0" default-marker-size="5"></circle></g></g></g><g id="SvgjsG3573" class="apexcharts-series" seriesName="TotalxExpense" data:longestSeries="true" rel="2" data:realIndex="1"><path id="SvgjsPath3593" d="M 0 264.348 L 0 111.02615999999998C 23.539322916666663 111.02615999999998 43.715885416666666 232.62624 67.25520833333333 232.62624C 90.79453124999999 232.62624 110.97109375 198.261 134.51041666666666 198.261C 158.04973958333332 198.261 178.22630208333334 108.38268 201.765625 108.38268C 225.30494791666666 108.38268 245.48151041666665 227.33928 269.0208333333333 227.33928C 292.56015625 227.33928 312.73671875 200.90447999999998 336.2760416666667 200.90447999999998C 359.81536458333335 200.90447999999998 379.99192708333334 216.76536 403.53125 216.76536C 403.53125 216.76536 403.53125 216.76536 403.53125 264.348M 403.53125 216.76536z" fill="url(#SvgjsLinearGradient3589)" fill-opacity="1" stroke-opacity="1" stroke-linecap="butt" stroke-width="0" stroke-dasharray="0" class="apexcharts-area" index="1" clip-path="url(#gridRectMaskfp1citn6k)" pathTo="M 0 264.348 L 0 111.02615999999998C 23.539322916666663 111.02615999999998 43.715885416666666 232.62624 67.25520833333333 232.62624C 90.79453124999999 232.62624 110.97109375 198.261 134.51041666666666 198.261C 158.04973958333332 198.261 178.22630208333334 108.38268 201.765625 108.38268C 225.30494791666666 108.38268 245.48151041666665 227.33928 269.0208333333333 227.33928C 292.56015625 227.33928 312.73671875 200.90447999999998 336.2760416666667 200.90447999999998C 359.81536458333335 200.90447999999998 379.99192708333334 216.76536 403.53125 216.76536C 403.53125 216.76536 403.53125 216.76536 403.53125 264.348M 403.53125 216.76536z" pathFrom="M -1 317.2176 L -1 317.2176 L 67.25520833333333 317.2176 L 134.51041666666666 317.2176 L 201.765625 317.2176 L 269.0208333333333 317.2176 L 336.2760416666667 317.2176 L 403.53125 317.2176"></path><path id="SvgjsPath3594" d="M 0 111.02615999999998C 23.539322916666663 111.02615999999998 43.715885416666666 232.62624 67.25520833333333 232.62624C 90.79453124999999 232.62624 110.97109375 198.261 134.51041666666666 198.261C 158.04973958333332 198.261 178.22630208333334 108.38268 201.765625 108.38268C 225.30494791666666 108.38268 245.48151041666665 227.33928 269.0208333333333 227.33928C 292.56015625 227.33928 312.73671875 200.90447999999998 336.2760416666667 200.90447999999998C 359.81536458333335 200.90447999999998 379.99192708333334 216.76536 403.53125 216.76536" fill="none" fill-opacity="1" stroke="#ffc107" stroke-opacity="1" stroke-linecap="butt" stroke-width="2" stroke-dasharray="0" class="apexcharts-area" index="1" clip-path="url(#gridRectMaskfp1citn6k)" pathTo="M 0 111.02615999999998C 23.539322916666663 111.02615999999998 43.715885416666666 232.62624 67.25520833333333 232.62624C 90.79453124999999 232.62624 110.97109375 198.261 134.51041666666666 198.261C 158.04973958333332 198.261 178.22630208333334 108.38268 201.765625 108.38268C 225.30494791666666 108.38268 245.48151041666665 227.33928 269.0208333333333 227.33928C 292.56015625 227.33928 312.73671875 200.90447999999998 336.2760416666667 200.90447999999998C 359.81536458333335 200.90447999999998 379.99192708333334 216.76536 403.53125 216.76536" pathFrom="M -1 317.2176 L -1 317.2176 L 67.25520833333333 317.2176 L 134.51041666666666 317.2176 L 201.765625 317.2176 L 269.0208333333333 317.2176 L 336.2760416666667 317.2176 L 403.53125 317.2176" fill-rule="evenodd"></path><g id="SvgjsG3574" class="apexcharts-series-markers-wrap" data:realIndex="1"><g id="SvgjsG3576" class="apexcharts-series-markers" clip-path="url(#gridRectMarkerMaskfp1citn6k)"><circle id="SvgjsCircle3577" r="5" cx="0" cy="111.02615999999998" class="apexcharts-marker no-pointer-events w56x0jnwkh" stroke="#ffffff" fill="#ffc107" fill-opacity="1" stroke-width="2" stroke-opacity="0.9" rel="0" j="0" index="1" default-marker-size="5"></circle><circle id="SvgjsCircle3578" r="5" cx="67.25520833333333" cy="232.62624" class="apexcharts-marker no-pointer-events wignbsz5jk" stroke="#ffffff" fill="#ffc107" fill-opacity="1" stroke-width="2" stroke-opacity="0.9" rel="1" j="1" index="1" default-marker-size="5"></circle></g><g id="SvgjsG3579" class="apexcharts-series-markers" clip-path="url(#gridRectMarkerMaskfp1citn6k)"><circle id="SvgjsCircle3580" r="5" cx="134.51041666666666" cy="198.261" class="apexcharts-marker no-pointer-events wq1y5kqzh" stroke="#ffffff" fill="#ffc107" fill-opacity="1" stroke-width="2" stroke-opacity="0.9" rel="2" j="2" index="1" default-marker-size="5"></circle></g><g id="SvgjsG3581" class="apexcharts-series-markers" clip-path="url(#gridRectMarkerMaskfp1citn6k)"><circle id="SvgjsCircle3582" r="5" cx="201.765625" cy="108.38268" class="apexcharts-marker no-pointer-events w5d8ferms" stroke="#ffffff" fill="#ffc107" fill-opacity="1" stroke-width="2" stroke-opacity="0.9" rel="3" j="3" index="1" default-marker-size="5"></circle></g><g id="SvgjsG3583" class="apexcharts-series-markers" clip-path="url(#gridRectMarkerMaskfp1citn6k)"><circle id="SvgjsCircle3584" r="5" cx="269.0208333333333" cy="227.33928" class="apexcharts-marker no-pointer-events wogpj7chj" stroke="#ffffff" fill="#ffc107" fill-opacity="1" stroke-width="2" stroke-opacity="0.9" rel="4" j="4" index="1" default-marker-size="5"></circle></g><g id="SvgjsG3585" class="apexcharts-series-markers" clip-path="url(#gridRectMarkerMaskfp1citn6k)"><circle id="SvgjsCircle3586" r="5" cx="336.2760416666667" cy="200.90447999999998" class="apexcharts-marker no-pointer-events wakvklz8b" stroke="#ffffff" fill="#ffc107" fill-opacity="1" stroke-width="2" stroke-opacity="0.9" rel="5" j="5" index="1" default-marker-size="5"></circle></g><g id="SvgjsG3587" class="apexcharts-series-markers" clip-path="url(#gridRectMarkerMaskfp1citn6k)"><circle id="SvgjsCircle3588" r="5" cx="403.53125" cy="216.76536" class="apexcharts-marker no-pointer-events weoejt2xx" stroke="#ffffff" fill="#ffc107" fill-opacity="1" stroke-width="2" stroke-opacity="0.9" rel="6" j="6" index="1" default-marker-size="5"></circle></g></g></g><g id="SvgjsG3553" class="apexcharts-datalabels" data:realIndex="0"></g><g id="SvgjsG3575" class="apexcharts-datalabels" data:realIndex="1"></g></g><g id="SvgjsG3598" class="apexcharts-grid-borders"><line id="SvgjsLine3599" x1="0" y1="0" x2="403.53125" y2="0" stroke="var(--fc-gray-300)" stroke-dasharray="0" stroke-linecap="butt" class="apexcharts-gridline"></line><line id="SvgjsLine3604" x1="0" y1="264.348" x2="403.53125" y2="264.348" stroke="var(--fc-gray-300)" stroke-dasharray="0" stroke-linecap="butt" class="apexcharts-gridline"></line><line id="SvgjsLine3630" x1="0" y1="265.348" x2="403.53125" y2="265.348" stroke="var(--fc-gray-300)" stroke-dasharray="0" stroke-width="1" stroke-linecap="butt"></line></g><line id="SvgjsLine3651" x1="0" y1="0" x2="403.53125" y2="0" stroke="#b6b6b6" stroke-dasharray="0" stroke-width="1" stroke-linecap="butt" class="apexcharts-ycrosshairs"></line><line id="SvgjsLine3652" x1="0" y1="0" x2="403.53125" y2="0" stroke-dasharray="0" stroke-width="0" stroke-linecap="butt" class="apexcharts-ycrosshairs-hidden"></line><g id="SvgjsG3653" class="apexcharts-yaxis-annotations"></g><g id="SvgjsG3654" class="apexcharts-xaxis-annotations"></g><g id="SvgjsG3655" class="apexcharts-point-annotations"></g><rect id="SvgjsRect3656" width="0" height="0" x="0" y="0" rx="0" ry="0" opacity="1" stroke-width="0" stroke="none" stroke-dasharray="0" fill="#fefefe" class="apexcharts-zoom-rect"></rect><rect id="SvgjsRect3657" width="0" height="0" x="0" y="0" rx="0" ry="0" opacity="1" stroke-width="0" stroke="none" stroke-dasharray="0" fill="#fefefe" class="apexcharts-selection-rect"></rect></g><rect id="SvgjsRect3546" width="0" height="0" x="0" y="0" rx="0" ry="0" opacity="1" stroke-width="0" stroke="none" stroke-dasharray="0" fill="#fefefe"></rect><g id="SvgjsG3631" class="apexcharts-yaxis" rel="0" transform="translate(24.46875, 0)"><g id="SvgjsG3632" class="apexcharts-yaxis-texts-g"><text id="SvgjsText3634" font-family="&quot;Inter&quot;, &quot;sans-serif&quot;" x="20" y="49.5" text-anchor="end" dominant-baseline="auto" font-size="12px" font-weight="400" fill="var(--fc-gray-600)" class="apexcharts-text apexcharts-yaxis-label " style="font-family: Inter, &quot;sans-serif&quot;;"><tspan id="SvgjsTspan3635">120k</tspan><title>120k</title></text><text id="SvgjsText3637" font-family="&quot;Inter&quot;, &quot;sans-serif&quot;" x="20" y="102.3696" text-anchor="end" dominant-baseline="auto" font-size="12px" font-weight="400" fill="var(--fc-gray-600)" class="apexcharts-text apexcharts-yaxis-label " style="font-family: Inter, &quot;sans-serif&quot;;"><tspan id="SvgjsTspan3638">100k</tspan><title>100k</title></text><text id="SvgjsText3640" font-family="&quot;Inter&quot;, &quot;sans-serif&quot;" x="20" y="155.2392" text-anchor="end" dominant-baseline="auto" font-size="12px" font-weight="400" fill="var(--fc-gray-600)" class="apexcharts-text apexcharts-yaxis-label " style="font-family: Inter, &quot;sans-serif&quot;;"><tspan id="SvgjsTspan3641">80k</tspan><title>80k</title></text><text id="SvgjsText3643" font-family="&quot;Inter&quot;, &quot;sans-serif&quot;" x="20" y="208.10880000000003" text-anchor="end" dominant-baseline="auto" font-size="12px" font-weight="400" fill="var(--fc-gray-600)" class="apexcharts-text apexcharts-yaxis-label " style="font-family: Inter, &quot;sans-serif&quot;;"><tspan id="SvgjsTspan3644">60k</tspan><title>60k</title></text><text id="SvgjsText3646" font-family="&quot;Inter&quot;, &quot;sans-serif&quot;" x="20" y="260.9784" text-anchor="end" dominant-baseline="auto" font-size="12px" font-weight="400" fill="var(--fc-gray-600)" class="apexcharts-text apexcharts-yaxis-label " style="font-family: Inter, &quot;sans-serif&quot;;"><tspan id="SvgjsTspan3647">40k</tspan><title>40k</title></text><text id="SvgjsText3649" font-family="&quot;Inter&quot;, &quot;sans-serif&quot;" x="20" y="313.848" text-anchor="end" dominant-baseline="auto" font-size="12px" font-weight="400" fill="var(--fc-gray-600)" class="apexcharts-text apexcharts-yaxis-label " style="font-family: Inter, &quot;sans-serif&quot;;"><tspan id="SvgjsTspan3650">20k</tspan><title>20k</title></text></g></g><g id="SvgjsG3543" class="apexcharts-annotations"></g></svg><div class="apexcharts-tooltip apexcharts-theme-light" style="left: 302.922px; top: 202.95px;"><div class="apexcharts-tooltip-title" style="font-family: Helvetica, Arial, sans-serif; font-size: 12px;">Jul</div><div class="apexcharts-tooltip-series-group apexcharts-active" style="order: 1; display: flex;"><span class="apexcharts-tooltip-marker" style="background-color: rgb(10, 173, 10);"></span><div class="apexcharts-tooltip-text" style="font-family: Helvetica, Arial, sans-serif; font-size: 12px;"><div class="apexcharts-tooltip-y-group"><span class="apexcharts-tooltip-text-y-label">Total Income: </span><span class="apexcharts-tooltip-text-y-value">100k</span></div><div class="apexcharts-tooltip-goals-group"><span class="apexcharts-tooltip-text-goals-label"></span><span class="apexcharts-tooltip-text-goals-value"></span></div><div class="apexcharts-tooltip-z-group"><span class="apexcharts-tooltip-text-z-label"></span><span class="apexcharts-tooltip-text-z-value"></span></div></div></div><div class="apexcharts-tooltip-series-group apexcharts-active" style="order: 2; display: flex;"><span class="apexcharts-tooltip-marker" style="background-color: rgb(255, 193, 7);"></span><div class="apexcharts-tooltip-text" style="font-family: Helvetica, Arial, sans-serif; font-size: 12px;"><div class="apexcharts-tooltip-y-group"><span class="apexcharts-tooltip-text-y-label">Total Expense: </span><span class="apexcharts-tooltip-text-y-value">38k</span></div><div class="apexcharts-tooltip-goals-group"><span class="apexcharts-tooltip-text-goals-label"></span><span class="apexcharts-tooltip-text-goals-value"></span></div><div class="apexcharts-tooltip-z-group"><span class="apexcharts-tooltip-text-z-label"></span><span class="apexcharts-tooltip-text-z-value"></span></div></div></div></div><div class="apexcharts-xaxistooltip apexcharts-xaxistooltip-bottom apexcharts-theme-light" style="left: 438.828px; top: 314.348px;"><div class="apexcharts-xaxistooltip-text" style="font-family: Helvetica, Arial, sans-serif; font-size: 12px; min-width: 14.0625px;">Jul</div></div><div class="apexcharts-yaxistooltip apexcharts-yaxistooltip-0 apexcharts-yaxistooltip-left apexcharts-theme-light"><div class="apexcharts-yaxistooltip-text"></div></div></div></div>
            
 </div>
 </div>
    </div>
    <div class="col-xl-4 col-lg-6 col-12 mb-6">
        <!-- card -->
        <div class="card h-100 card-lg">
            <!-- card body -->
            <div class="card-body p-6">
                <!-- heading -->
                <h3 class="mb-0 fs-5">Total Sales </h3>
                <div id="totalSale" class="mt-6 d-flex justify-content-center" style="min-height: 312.8px;"><div id="apexcharts8av6d1zf" class="apexcharts-canvas apexcharts8av6d1zf apexcharts-theme-light" style="width: 290px; height: 312.8px;"><svg id="SvgjsSvg3681" width="290" height="312.8" xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.dev" class="apexcharts-svg" xmlns:data="ApexChartsNS" transform="translate(0, 0)" style="background: transparent;"><g id="SvgjsG3683" class="apexcharts-inner apexcharts-graphical" transform="translate(-7, 0)"><defs id="SvgjsDefs3682"><clipPath id="gridRectMask8av6d1zf"><rect id="SvgjsRect3685" width="310" height="328" x="-2" y="0" rx="0" ry="0" opacity="1" stroke-width="0" stroke="none" stroke-dasharray="0" fill="#fff"></rect></clipPath><clipPath id="forecastMask8av6d1zf"></clipPath><clipPath id="nonForecastMask8av6d1zf"></clipPath><clipPath id="gridRectMarkerMask8av6d1zf"><rect id="SvgjsRect3686" width="310" height="332" x="-2" y="-2" rx="0" ry="0" opacity="1" stroke-width="0" stroke="none" stroke-dasharray="0" fill="#fff"></rect></clipPath></defs><g id="SvgjsG3687" class="apexcharts-pie"><g id="SvgjsG3688" transform="translate(0, 0) scale(1)"><circle id="SvgjsCircle3689" r="123.47804878048781" cx="153" cy="153" fill="transparent"></circle><g id="SvgjsG3690" class="apexcharts-slices"><g id="SvgjsG3691" class="apexcharts-series apexcharts-pie-series" seriesName="Shippings" rel="1" data:realIndex="0"><path id="SvgjsPath3692" d="M 153 7.731707317073159 A 145.26829268292684 145.26829268292684 0 1 1 50.27980515251032 255.7201948474897 L 65.68783437963377 240.31216562036624 A 123.47804878048781 123.47804878048781 0 1 0 153 29.52195121951219 L 153 7.731707317073159 z" fill="rgba(10,173,10,1)" fill-opacity="1" stroke-opacity="1" stroke-linecap="butt" stroke-width="0" stroke-dasharray="0" class="apexcharts-pie-area apexcharts-donut-slice-0" index="0" j="0" data:angle="225" data:startAngle="0" data:strokeWidth="0" data:value="6000" data:pathOrig="M 153 7.731707317073159 A 145.26829268292684 145.26829268292684 0 1 1 50.27980515251032 255.7201948474897 L 65.68783437963377 240.31216562036624 A 123.47804878048781 123.47804878048781 0 1 0 153 29.52195121951219 L 153 7.731707317073159 z"></path></g><g id="SvgjsG3693" class="apexcharts-series apexcharts-pie-series" seriesName="Refunds" rel="2" data:realIndex="1"><path id="SvgjsPath3694" d="M 50.27980515251032 255.7201948474897 A 145.26829268292684 145.26829268292684 0 0 1 27.19396817219227 80.36585365853657 L 46.06487294636344 91.26097560975609 A 123.47804878048781 123.47804878048781 0 0 0 65.68783437963377 240.31216562036624 L 50.27980515251032 255.7201948474897 z" fill="rgba(255,193,7,1)" fill-opacity="1" stroke-opacity="1" stroke-linecap="butt" stroke-width="0" stroke-dasharray="0" class="apexcharts-pie-area apexcharts-donut-slice-1" index="0" j="1" data:angle="75" data:startAngle="225" data:strokeWidth="0" data:value="2000" data:pathOrig="M 50.27980515251032 255.7201948474897 A 145.26829268292684 145.26829268292684 0 0 1 27.19396817219227 80.36585365853657 L 46.06487294636344 91.26097560975609 A 123.47804878048781 123.47804878048781 0 0 0 65.68783437963377 240.31216562036624 L 50.27980515251032 255.7201948474897 z"></path></g><g id="SvgjsG3695" class="apexcharts-series apexcharts-pie-series" seriesName="Order" rel="3" data:realIndex="2"><path id="SvgjsPath3696" d="M 27.19396817219227 80.36585365853657 A 145.26829268292684 145.26829268292684 0 0 1 97.40823114228114 18.789597667384754 L 105.74699647093897 38.92115801727705 A 123.47804878048781 123.47804878048781 0 0 0 46.06487294636344 91.26097560975609 L 27.19396817219227 80.36585365853657 z" fill="rgba(219,48,48,1)" fill-opacity="1" stroke-opacity="1" stroke-linecap="butt" stroke-width="0" stroke-dasharray="0" class="apexcharts-pie-area apexcharts-donut-slice-2" index="0" j="2" data:angle="37.5" data:startAngle="300" data:strokeWidth="0" data:value="1000" data:pathOrig="M 27.19396817219227 80.36585365853657 A 145.26829268292684 145.26829268292684 0 0 1 97.40823114228114 18.789597667384754 L 105.74699647093897 38.92115801727705 A 123.47804878048781 123.47804878048781 0 0 0 46.06487294636344 91.26097560975609 L 27.19396817219227 80.36585365853657 z"></path></g><g id="SvgjsG3697" class="apexcharts-series apexcharts-pie-series" seriesName="Income" rel="4" data:realIndex="3"><path id="SvgjsPath3698" d="M 97.40823114228114 18.789597667384754 A 145.26829268292684 145.26829268292684 0 0 1 152.97464590006803 7.731709529635765 L 152.9784490150578 29.521953100190416 A 123.47804878048781 123.47804878048781 0 0 0 105.74699647093897 38.92115801727705 L 97.40823114228114 18.789597667384754 z" fill="rgba(1,107,248,1)" fill-opacity="1" stroke-opacity="1" stroke-linecap="butt" stroke-width="0" stroke-dasharray="0" class="apexcharts-pie-area apexcharts-donut-slice-3" index="0" j="3" data:angle="22.5" data:startAngle="337.5" data:strokeWidth="0" data:value="600" data:pathOrig="M 97.40823114228114 18.789597667384754 A 145.26829268292684 145.26829268292684 0 0 1 152.97464590006803 7.731709529635765 L 152.9784490150578 29.521953100190416 A 123.47804878048781 123.47804878048781 0 0 0 105.74699647093897 38.92115801727705 L 97.40823114228114 18.789597667384754 z"></path></g></g></g><g id="SvgjsG3699" class="apexcharts-datalabels-group" transform="translate(0, 0) scale(1)"><text id="SvgjsText3700" font-family="&quot;Inter&quot;, &quot;sans-serif&quot;" x="153" y="143" text-anchor="middle" dominant-baseline="auto" font-size="16px" font-weight="400" fill="#373d3f" class="apexcharts-text apexcharts-datalabel-label" style="font-family: Inter, &quot;sans-serif&quot;;">Total Sales</text><text id="SvgjsText3701" font-family="&quot;Inter&quot;, &quot;sans-serif&quot;" x="153" y="177" text-anchor="middle" dominant-baseline="auto" font-size="24px" font-weight="800" fill="#373d3f" class="apexcharts-text apexcharts-datalabel-value" style="font-family: Inter, &quot;sans-serif&quot;;">9600</text></g></g><line id="SvgjsLine3702" x1="0" y1="0" x2="306" y2="0" stroke="#b6b6b6" stroke-dasharray="0" stroke-width="1" stroke-linecap="butt" class="apexcharts-ycrosshairs"></line><line id="SvgjsLine3703" x1="0" y1="0" x2="306" y2="0" stroke-dasharray="0" stroke-width="0" stroke-linecap="butt" class="apexcharts-ycrosshairs-hidden"></line></g><g id="SvgjsG3684" class="apexcharts-annotations"></g></svg><div class="apexcharts-legend"></div><div class="apexcharts-tooltip apexcharts-theme-dark"><div class="apexcharts-tooltip-series-group" style="order: 1;"><span class="apexcharts-tooltip-marker" style="background-color: rgb(10, 173, 10);"></span><div class="apexcharts-tooltip-text" style="font-family: Helvetica, Arial, sans-serif; font-size: 12px;"><div class="apexcharts-tooltip-y-group"><span class="apexcharts-tooltip-text-y-label"></span><span class="apexcharts-tooltip-text-y-value"></span></div><div class="apexcharts-tooltip-goals-group"><span class="apexcharts-tooltip-text-goals-label"></span><span class="apexcharts-tooltip-text-goals-value"></span></div><div class="apexcharts-tooltip-z-group"><span class="apexcharts-tooltip-text-z-label"></span><span class="apexcharts-tooltip-text-z-value"></span></div></div></div><div class="apexcharts-tooltip-series-group" style="order: 2;"><span class="apexcharts-tooltip-marker" style="background-color: rgb(255, 193, 7);"></span><div class="apexcharts-tooltip-text" style="font-family: Helvetica, Arial, sans-serif; font-size: 12px;"><div class="apexcharts-tooltip-y-group"><span class="apexcharts-tooltip-text-y-label"></span><span class="apexcharts-tooltip-text-y-value"></span></div><div class="apexcharts-tooltip-goals-group"><span class="apexcharts-tooltip-text-goals-label"></span><span class="apexcharts-tooltip-text-goals-value"></span></div><div class="apexcharts-tooltip-z-group"><span class="apexcharts-tooltip-text-z-label"></span><span class="apexcharts-tooltip-text-z-value"></span></div></div></div><div class="apexcharts-tooltip-series-group" style="order: 3;"><span class="apexcharts-tooltip-marker" style="background-color: rgb(219, 48, 48);"></span><div class="apexcharts-tooltip-text" style="font-family: Helvetica, Arial, sans-serif; font-size: 12px;"><div class="apexcharts-tooltip-y-group"><span class="apexcharts-tooltip-text-y-label"></span><span class="apexcharts-tooltip-text-y-value"></span></div><div class="apexcharts-tooltip-goals-group"><span class="apexcharts-tooltip-text-goals-label"></span><span class="apexcharts-tooltip-text-goals-value"></span></div><div class="apexcharts-tooltip-z-group"><span class="apexcharts-tooltip-text-z-label"></span><span class="apexcharts-tooltip-text-z-value"></span></div></div></div><div class="apexcharts-tooltip-series-group" style="order: 4;"><span class="apexcharts-tooltip-marker" style="background-color: rgb(1, 107, 248);"></span><div class="apexcharts-tooltip-text" style="font-family: Helvetica, Arial, sans-serif; font-size: 12px;"><div class="apexcharts-tooltip-y-group"><span class="apexcharts-tooltip-text-y-label"></span><span class="apexcharts-tooltip-text-y-value"></span></div><div class="apexcharts-tooltip-goals-group"><span class="apexcharts-tooltip-text-goals-label"></span><span class="apexcharts-tooltip-text-goals-value"></span></div><div class="apexcharts-tooltip-z-group"><span class="apexcharts-tooltip-text-z-label"></span><span class="apexcharts-tooltip-text-z-value"></span></div></div></div></div></div></div>
                <div class="mt-4">
                    <!-- list -->
                    <ul class="list-unstyled mb-0">
                        <li class="mb-2"><svg xmlns="http://www.w3.org/2000/svg" width="8" height="8" fill="currentColor" class="bi bi-circle-fill text-primary" viewBox="0 0 16 16">
                                <circle cx="8" cy="8" r="8"></circle>
                            </svg> <span class="ms-1"><span class="text-dark">Shippings
                                    $32.98</span> (2%)</span></li>
                        <li class="mb-2"><svg xmlns="http://www.w3.org/2000/svg" width="8" height="8" fill="currentColor" class="bi bi-circle-fill text-warning" viewBox="0 0 16 16">
                                <circle cx="8" cy="8" r="8"></circle>
                            </svg> <span class="ms-1"><span class="text-dark">Refunds $11</span>
                                (11%)</span></li>
                        <li class="mb-2"><svg xmlns="http://www.w3.org/2000/svg" width="8" height="8" fill="currentColor" class="bi bi-circle-fill text-danger" viewBox="0 0 16 16">
                                <circle cx="8" cy="8" r="8"></circle>
                            </svg> <span class="ms-1"><span class="text-dark">Order $14.87</span>
                                (1%)</span></li>
                        <li><svg xmlns="http://www.w3.org/2000/svg" width="8" height="8" fill="currentColor" class="bi bi-circle-fill text-info" viewBox="0 0 16 16">
                                <circle cx="8" cy="8" r="8"></circle>
                            </svg> <span class="ms-1"><span class="text-dark">Income 3,271</span>
                                (86%)</span></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>



------------------

<div class="row ">
    <div class="col-xl-6 col-lg-6 col-md-12 col-12 mb-6">
        <!-- card -->
        <div class="card h-100 card-lg">
            <!-- card body -->
            <div class="card-body p-6">
                <h3 class="mb-0 fs-5">Sales Overview </h3>
                <div class="mt-6">
                    <!-- text -->
                    <div class="mb-5">
                        <div class="d-flex align-items-center justify-content-between">
                            <h5 class="fs-6">Total Profit</h5>
                            <span><span class="me-1 text-dark">$1,619</span> (8.6%)</span>
                        </div>
                        <!-- main wrapper -->
                        <div>
                            <!-- progressbar -->
                            <div class="progress bg-light-primary" style="height: 6px;">
                                <div class="progress-bar bg-primary" role="progressbar" aria-label="Example 1px high" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                    </div>
                    <div class="mb-5">
                        <!-- text -->
                        <div class="d-flex align-items-center justify-content-between">
                            <h5 class="fs-6">Total Income</h5>
                            <span><span class="me-1 text-dark">$3,571</span> (86.4%)</span>
                        </div>
                        <div>
                            <!-- progressbar -->
                            <div class="progress bg-info-soft" style="height: 6px;">
                                <div class="progress-bar bg-info" role="progressbar" aria-label="Example 1px high" style="width: 88%;" aria-valuenow="88" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <!-- text -->
                        <div class="d-flex align-items-center justify-content-between">
                            <h5 class="fs-6">Total Expenses</h5>
                            <span><span class="me-1 text-dark">$3,430</span> (74.5%)</span>
                        </div>
                        <div>
                            <!-- progressbar -->
                            <div class="progress bg-light-danger" style="height: 6px;">
                                <div class="progress-bar bg-danger" role="progressbar" aria-label="Example 1px high" style="width: 45%;" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="col-xl-6 col-lg-6 col-md-12 col-12 mb-6">
        <div class=" position-relative h-100">
            <!-- card -->
            <div class="card card-lg mb-6">
                <!-- card body -->
                <div class="card-body px-6 py-8">
                    <div class="d-flex align-items-center">
                        <div>
                            <!-- svg -->
                            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-bell text-warning" viewBox="0 0 16 16">
                                <path d="M8 16a2 2 0 0 0 2-2H6a2 2 0 0 0 2 2zM8 1.918l-.797.161A4.002 4.002 0 0 0 4 6c0 .628-.134 2.197-.459 3.742-.16.767-.376 1.566-.663 2.258h10.244c-.287-.692-.502-1.49-.663-2.258C12.134 8.197 12 6.628 12 6a4.002 4.002 0 0 0-3.203-3.92L8 1.917zM14.22 12c.223.447.481.801.78 1H1c.299-.199.557-.553.78-1C2.68 10.2 3 6.88 3 6c0-2.42 1.72-4.44 4.005-4.901a1 1 0 1 1 1.99 0A5.002 5.002 0 0 1 13 6c0 .88.32 4.2 1.22 6z"></path>
                            </svg>
                        </div>
                        <!-- text -->
                        <div class="ms-4">
                            <h5 class="mb-1">Start your day with New Notification.</h5>
                            <p class="mb-0">You have <a class="link-info" href="#!">2 new
                                    notification</a></p>
                        </div>

                    </div>



                </div>
            </div>
            <!-- card -->
            <div class="card card-lg">
                <!-- card body -->
                <div class="card-body px-6 py-8">
                    <div class="d-flex align-items-center">
                        <!-- svg -->
                        <div>
                            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-lightbulb text-success" viewBox="0 0 16 16">
                                <path d="M2 6a6 6 0 1 1 10.174 4.31c-.203.196-.359.4-.453.619l-.762 1.769A.5.5 0 0 1 10.5 13a.5.5 0 0 1 0 1 .5.5 0 0 1 0 1l-.224.447a1 1 0 0 1-.894.553H6.618a1 1 0 0 1-.894-.553L5.5 15a.5.5 0 0 1 0-1 .5.5 0 0 1 0-1 .5.5 0 0 1-.46-.302l-.761-1.77a1.964 1.964 0 0 0-.453-.618A5.984 5.984 0 0 1 2 6zm6-5a5 5 0 0 0-3.479 8.592c.263.254.514.564.676.941L5.83 12h4.342l.632-1.467c.162-.377.413-.687.676-.941A5 5 0 0 0 8 1z"></path>
                            </svg>
                        </div>
                        <!-- text -->
                        <div class="ms-4">
                            <h5 class="mb-1">Monitor your Sales and Profitability</h5>
                            <p class="mb-0"> <a class="link-info" href="#!">View Performance</a></p>
                        </div>

                    </div>



                </div>
            </div>
        </div>
    </div>
</div>


------------------

<div class="row ">
    <div class="col-xl-12 col-lg-12 col-md-12 col-12 mb-6">
        <div class="card h-100 card-lg">
            <!-- heading -->
            <div class="p-6">
                <h3 class="mb-0 fs-5">Recent Order</h3>
            </div>
            <div class="card-body p-0">
                <!-- table -->
                <div class="table-responsive">
                    <table class="table table-centered table-borderless text-nowrap table-hover">
                        <thead class="bg-light">
                            <tr>
                                <th scope="col">Order Number</th>
                                <th scope="col">Product Name</th>
                                <th scope="col">Order Date</th>
                                <th scope="col">Price</th>
                                <th scope="col">Status</th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr>

                                <td>#FC0005</td>
                                <td>Haldiram's Sev Bhujia</td>
                                <td>28 March 2023</td>
                                <td>$18.00</td>
                                <td>
                                    <span class="badge bg-light-primary text-dark-primary">Shipped</span>
                                </td>
                            </tr>
                            <tr>

                                <td>#FC0004</td>
                                <td>NutriChoice Digestive</td>
                                <td>24 March 2023</td>
                                <td>$24.00</td>
                                <td>
                                    <span class="badge bg-light-warning text-dark-warning">Pending</span>
                                </td>
                            </tr>
                            <tr>

                                <td>#FC0003</td>
                                <td>Onion Flavour Potato</td>
                                <td>8 Feb 2023</td>
                                <td>$9.00</td>
                                <td>
                                    <span class="badge bg-light-danger text-dark-danger">Cancel</span>
                                </td>
                            </tr>
                            <tr>

                                <td>#FC0002</td>
                                <td>Blueberry Greek Yogurt</td>
                                <td>20 Jan 2023</td>
                                <td>$12.00</td>
                                <td>
                                    <span class="badge bg-light-warning text-dark-warning">Pending</span>
                                </td>
                            </tr>
                            <tr>

                                <td>#FC0001</td>
                                <td>Slurrp Millet Chocolate</td>
                                <td>14 Jan 2023</td>
                                <td>$8.00</td>
                                <td>
                                    <span class="badge bg-light-info text-dark-info">Processing</span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>