<section class="mt-8">
  <div class="container ">
          <img  src="assets/images/pexels-tnarg-1606386.jpg" alt="Los Angeles" style="width: 50%;" >
          <img  src="assets/images/pexels-tnarg-1606386.jpg" alt="Los Angeles" style="width: 50%;" >

            </div>
           
</section>




------------------



<section>
<div class="container row">
  <div class="col-12 mb-6">
   <h3 class="mb-0">Featured Categories</h3>
  </div>
</div>



<div *ngFor="let product of products" class=" container table-responsive ">
  <div class="row "> 

<table class="container table table-sm">
  <div class="col-12 col-md-2 mb-3 mb-lg-0">
    <div>

     <td><div class="py-10 px-8 rounded" style="background:url(https://freshcart.codescandy.com/assets/images/category/category-pet-care.jpg)no-repeat; background-size: cover; background-position: center;">
      <div >
          <h3 style="color: red" class="fw-bold mb-1">{{product.productName}}
          </h3>
        </div>
      </div>
    </td>

    <td class="col-12"> <p style="color: black" class="mb-4"><span class="fw-bold">{{product.description}}</span> </p>
    </td>

  <td class="col-12"> <p style="color: black" class="mb-4">Get Upto <span class="fw-bold">30%</span> Off</p>
  </td>
  <td class="col-12"> <p style="color: black" class="mb-4">Price <span class="fw-bold">{{product.price}}</span> </p>
  </td>
  <td class="col-3"> <a href="#!" class="btn btn-dark">Add to Cart</a>
  </td>
<td class="col-3"> <a href="#!" class="btn btn-dark">Shop Now</a>
</td>
    </div>
  </div>
</table>
</div>
</div>




</section>

<br>
------------------





<section>
  <br>
  
  <div *ngFor="let product of products"  class="container">
    <div class="row">

      <div class="col-12 col-md-4 mb-3 mb-lg-0">
        <div>
          <div class="py-10 px-8 rounded" style="background:url(./assets/images/pexels-tnarg-1606386.jpg)no-repeat; background-size: cover; background-position: center;">
            <div>
              <h3 class="fw-bold mb-1">{{product.productName}}
              </h3>
              <p class="mb-4">Get Upto <span class="fw-bold">30%</span> Off</p>
              <a href="#!" class="btn btn-dark">Shop Now</a>
            </div>
          </div>
        </div>
      </div>




    </div>
  </div>
</section>




------------------



<section class="my-lg-14 my-8">
  <div class="container">
    <div class="row">
      <div class="col-12 mb-6">

        <h3 class="mb-0">Popular Products</h3>

      </div>
    </div>

    <div  *ngFor="let product of products" class="container row">
      <div class="col">
        <div class="card card-product">
          <div class="card-body">

            <div class="text-center position-relative ">
              <div class=" position-absolute top-0 start-0">
                <span class="badge bg-danger">Sale</span>
              </div>
              <a href="#!"> <img src="assets/images/products/product-img-1.jpg" alt="Grocery Ecommerce Template" class="mb-3 img-fluid"></a>

              <div class="card-product-action">
                <a href="#!" class="btn-action" data-bs-toggle="modal" data-bs-target="#quickViewModal"><i class="bi bi-eye" data-bs-toggle="tooltip" data-bs-html="true" aria-label="Quick View" data-bs-original-title="Quick View"></i></a>
                <a href="#!" class="btn-action" data-bs-toggle="tooltip" data-bs-html="true" aria-label="Wishlist" data-bs-original-title="Wishlist"><i class="bi bi-heart"></i></a>
                <a href="#!" class="btn-action" data-bs-toggle="tooltip" data-bs-html="true" aria-label="Compare" data-bs-original-title="Compare"><i class="bi bi-arrow-left-right"></i></a>
              </div>

            </div>
            <div class="text-small mb-1"><a href="#!" class="text-decoration-none text-muted"><small>{{product.description}}
                  </small></a></div>
            <h2 class="fs-6"><a href="./pages/shop-single.html" class="text-inherit text-decoration-none">{{product.productName}}</a></h2>
            <div>

              <small class="text-warning"> <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-half"></i></small> <span class="text-muted small">{{product.rating}}</span>
            </div>
            <div class="d-flex justify-content-between align-items-center mt-3">
              <div><span class="text-dark">${{product.price}}</span> <span class="text-decoration-line-through text-muted">${{product.price}}</span>
              </div>
              <div><a href="#!" class="btn btn-primary btn-sm">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-plus">
                    <line x1="12" y1="5" x2="12" y2="19"></line>
                    <line x1="5" y1="12" x2="19" y2="12"></line>
                  </svg> Add</a></div>
            </div>
          </div>
        </div>
      </div>
     
    </div>
  </div>
</section>




------------------



<section>
  <div class="container">
    <div class="row">
      <div class="col-md-12 mb-6">
        <h3 class="mb-0">Daily Best Sells</h3>
      </div>
    </div>
    <div class="table-responsive-xl pb-6">
    <div class="row row-cols-lg-4 row-cols-1 row-cols-md-2 g-4 flex-nowrap">
      <div class="col">
        <div class=" pt-8 px-6 px-xl-8 rounded" style="background:url(./assets/images/banner/banner-deal.jpg)no-repeat; background-size: cover; height: 470px;">
          <div>
            <h3 class="fw-bold text-white">100% Organic
              Coffee Beans.
            </h3>
            <p class="text-white">Get the best deal before close.</p>
            <a href="#!" class="btn btn-primary">Shop Now <i class="feather-icon icon-arrow-right ms-1"></i></a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card card-product">
          <div class="card-body">
            <div class="text-center  position-relative "> <a href="./pages/shop-single.html"><img src="assets/images/products/product-img-11.jpg" alt="Grocery Ecommerce Template" class="mb-3 img-fluid"></a>

              <div class="card-product-action">
                <a href="#!" class="btn-action" data-bs-toggle="modal" data-bs-target="#quickViewModal"><i class="bi bi-eye" data-bs-toggle="tooltip" data-bs-html="true" aria-label="Quick View" data-bs-original-title="Quick View"></i></a>
                <a href="#!" class="btn-action" data-bs-toggle="tooltip" data-bs-html="true" aria-label="Wishlist" data-bs-original-title="Wishlist"><i class="bi bi-heart"></i></a>
                <a href="#!" class="btn-action" data-bs-toggle="tooltip" data-bs-html="true" aria-label="Compare" data-bs-original-title="Compare"><i class="bi bi-arrow-left-right"></i></a>
              </div>
            </div>
            <div class="text-small mb-1"><a href="#!" class="text-decoration-none text-muted"><small>Tea, Coffee &amp;
                  Drinks</small></a></div>
            <h2 class="fs-6"><a href="./pages/shop-single.html" class="text-inherit text-decoration-none">Roast
                Ground Coffee</a></h2>

            <div class="d-flex justify-content-between align-items-center mt-3">
              <div><span class="text-dark">$13</span> <span class="text-decoration-line-through text-muted">$18</span>
              </div>
              <div>
                <small class="text-warning"> <i class="bi bi-star-fill"></i>
                  <i class="bi bi-star-fill"></i>
                  <i class="bi bi-star-fill"></i>
                  <i class="bi bi-star-fill"></i>
                  <i class="bi bi-star-half"></i>
                </small>
                <span><small>4.5</small></span>
              </div>
            </div>
            <div class="d-grid mt-2"><a href="#!" class="btn btn-primary ">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-plus">
                  <line x1="12" y1="5" x2="12" y2="19"></line>
                  <line x1="5" y1="12" x2="19" y2="12"></line>
                </svg> Add to cart </a></div>
            <div class="d-flex justify-content-start text-center mt-3">
              <div class="deals-countdown w-100" data-countdown="2028/10/10 00:00:00"><span class="countdown-section"><span class="countdown-amount hover-up">2092</span><span class="countdown-period"> days </span></span><span class="countdown-section"><span class="countdown-amount hover-up">09</span><span class="countdown-period"> hours </span></span><span class="countdown-section"><span class="countdown-amount hover-up">38</span><span class="countdown-period"> mins </span></span><span class="countdown-section"><span class="countdown-amount hover-up">18</span><span class="countdown-period"> sec </span></span></div>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card card-product">
          <div class="card-body">
            <div class="text-center  position-relative "> <a href="./pages/shop-single.html"><img src="assets/images/products/product-img-12.jpg" alt="Grocery Ecommerce Template" class="mb-3 img-fluid"></a>
              <div class="card-product-action">
                <a href="#!" class="btn-action" data-bs-toggle="modal" data-bs-target="#quickViewModal"><i class="bi bi-eye" data-bs-toggle="tooltip" data-bs-html="true" aria-label="Quick View" data-bs-original-title="Quick View"></i></a>
                <a href="#!" class="btn-action" data-bs-toggle="tooltip" data-bs-html="true" aria-label="Wishlist" data-bs-original-title="Wishlist"><i class="bi bi-heart"></i></a>
                <a href="#!" class="btn-action" data-bs-toggle="tooltip" data-bs-html="true" aria-label="Compare" data-bs-original-title="Compare"><i class="bi bi-arrow-left-right"></i></a>
              </div>
            </div>
            <div class="text-small mb-1"><a href="#!" class="text-decoration-none text-muted"><small>Fruits &amp;
                  Vegetables</small></a></div>
            <h2 class="fs-6"><a href="./pages/shop-single.html" class="text-inherit text-decoration-none">Crushed
                Tomatoes</a></h2>
            <div class="d-flex justify-content-between align-items-center mt-3">
              <div><span class="text-dark">$13</span> <span class="text-decoration-line-through text-muted">$18</span>
              </div>
              <div>
                <small class="text-warning"> <i class="bi bi-star-fill"></i>
                  <i class="bi bi-star-fill"></i>
                  <i class="bi bi-star-fill"></i>
                  <i class="bi bi-star-fill"></i>
                  <i class="bi bi-star-half"></i>
                </small>
                <span><small>4.5</small></span>
              </div>
            </div>
            <div class="d-grid mt-2"><a href="#!" class="btn btn-primary ">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-plus">
                  <line x1="12" y1="5" x2="12" y2="19"></line>
                  <line x1="5" y1="12" x2="19" y2="12"></line>
                </svg> Add to cart </a></div>
            <div class="d-flex justify-content-start text-center mt-3 w-100">
              <div class="deals-countdown w-100" data-countdown="2028/12/9 00:00:00"><span class="countdown-section"><span class="countdown-amount hover-up">2152</span><span class="countdown-period"> days </span></span><span class="countdown-section"><span class="countdown-amount hover-up">09</span><span class="countdown-period"> hours </span></span><span class="countdown-section"><span class="countdown-amount hover-up">38</span><span class="countdown-period"> mins </span></span><span class="countdown-section"><span class="countdown-amount hover-up">18</span><span class="countdown-period"> sec </span></span></div>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card card-product">
          <div class="card-body">
            <div class="text-center  position-relative "> <a href="./pages/shop-single.html"><img src="assets/images/products/product-img-13.jpg" alt="Grocery Ecommerce Template" class="mb-3 img-fluid"></a>
              <div class="card-product-action">
                <a href="#!" class="btn-action" data-bs-toggle="modal" data-bs-target="#quickViewModal"><i class="bi bi-eye" data-bs-toggle="tooltip" data-bs-html="true" aria-label="Quick View" data-bs-original-title="Quick View"></i></a>
                <a href="#!" class="btn-action" data-bs-toggle="tooltip" data-bs-html="true" aria-label="Wishlist" data-bs-original-title="Wishlist"><i class="bi bi-heart"></i></a>
                <a href="#!" class="btn-action" data-bs-toggle="tooltip" data-bs-html="true" aria-label="Compare" data-bs-original-title="Compare"><i class="bi bi-arrow-left-right"></i></a>
              </div>
            </div>
            <div class="text-small mb-1"><a href="#!" class="text-decoration-none text-muted"><small>Fruits &amp;
                  Vegetables</small></a></div>
            <h2 class="fs-6"><a href="./pages/shop-single.html" class="text-inherit text-decoration-none">Golden
                Pineapple</a></h2>
            <div class="d-flex justify-content-between align-items-center mt-3">
              <div><span class="text-dark">$13</span> <span class="text-decoration-line-through text-muted">$18</span>
              </div>
              <div>
                <small class="text-warning"> <i class="bi bi-star-fill"></i>
                  <i class="bi bi-star-fill"></i>
                  <i class="bi bi-star-fill"></i>
                  <i class="bi bi-star-fill"></i>
                  <i class="bi bi-star-half"></i></small>
                <span><small>4.5</small></span>
              </div>
            </div>
            <div class="d-grid mt-2"><a href="#!" class="btn btn-primary ">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-plus">
                  <line x1="12" y1="5" x2="12" y2="19"></line>
                  <line x1="5" y1="12" x2="19" y2="12"></line>
                </svg> Add to cart </a></div>
            <div class="d-flex justify-content-start text-center mt-3">
              <div class="deals-countdown w-100" data-countdown="2028/11/11 00:00:00"><span class="countdown-section"><span class="countdown-amount hover-up">2124</span><span class="countdown-period"> days </span></span><span class="countdown-section"><span class="countdown-amount hover-up">09</span><span class="countdown-period"> hours </span></span><span class="countdown-section"><span class="countdown-amount hover-up">38</span><span class="countdown-period"> mins </span></span><span class="countdown-section"><span class="countdown-amount hover-up">18</span><span class="countdown-period"> sec </span></span></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
</section>






-------------


<section class="my-lg-14 my-8">
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-lg-3">
            <div class="mb-8 mb-xl-0">
              <div class="mb-6"><img src="assets/images/icons/clock.svg" alt=""></div>
              <h3 class="h5 mb-3">
                10 minute grocery now
              </h3>
              <p>Get your order delivered to your doorstep at the earliest from FreshCart pickup stores near you.</p>
            </div>
          </div>
          <div class="col-md-6  col-lg-3">
            <div class="mb-8 mb-xl-0">
              <div class="mb-6"><img src="assets/images/icons/gift.svg" alt=""></div>
              <h3 class="h5 mb-3">Best Prices &amp; Offers</h3>
              <p>Cheaper prices than your local supermarket, great cashback offers to top it off. Get best pricess &amp;
                offers.
              </p>
            </div>
          </div>
          <div class="col-md-6 col-lg-3">
            <div class="mb-8 mb-xl-0">
              <div class="mb-6"><img src="assets/images/icons/package.svg" alt=""></div>
              <h3 class="h5 mb-3">Wide Assortment</h3>
              <p>Choose from 5000+ products across food, personal care, household, bakery, veg and non-veg &amp; other
                categories.</p>
            </div>
          </div>
          <div class="col-md-6 col-lg-3">
            <div class="mb-8 mb-xl-0">
              <div class="mb-6"><img src="assets/images/icons/refresh-cw.svg" alt=""></div>
              <h3 class="h5 mb-3">Easy Returns</h3>
              <p>Not satisfied with a product? Return it at the doorstep &amp; get a refund within hours. No questions asked
                <a href="#!">policy</a>.</p>
            </div>
          </div>
        </div>
      </div>
    </section>